<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2> Hi, {{user}}</h2>
<span>
    This is your friendly reminder for you because you have not logged any value to any of your trackers, today.
    <h5>
    Kindly log a value to keep your trackers up-to-date.
    <br>
    This will also ensure that you get an accurate <span style="color: green">monthly report</span>
    </h5>

    <br><br>

    <h4>Thank you <br>
        Lyf Records
        <img src="https://raw.githubusercontent.com/Ruhil-DS/QuantifiedSelfApp-FLASK/main/static/images/logo.svg" style="width: 50px; height: 50px">
    </h4>
</span>
</body>
</html>