<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2> Hi, {{user}}</h2>
<span>
    Thanks for using our service. Your request to download
    <span style="color: seagreen; font-weight: bold">{{file_type}}</span>
    has been completed successfully.
    <h5>
    Kindly check the attachments below to download your requested file
    <br><br>
     Happy logging :D
    </h5>

    <br><br>

    <h4>Thank you <br>
        Lyf Records <br>
        <img src="https://raw.githubusercontent.com/Ruhil-DS/QuantifiedSelfApp-FLASK/main/static/images/logo.svg" style="width: 90px; height: 90px">
    </h4>
</span>
</body>
</html>