html{
            postion:absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:100px;
            overflow:auto;
            background: #96e7e7; /* this would be your background setup */
        }

        body{
            margin: 70px 50px 70px 50px;
        }
