<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>
Hi there
</h3>

<p>It seems like you forgot your password and requested for it.</p>

<p>
Details that you requested for are below.
Please don't forward this mail to anyone as this contains your credentials.
</p>

<span>Username : {{user}}</span>
<br>
<span>Password : {{password}}</span>



<h4>
    Thank you
    <br>
    Lyf Records
    <br>
    <img src="https://raw.githubusercontent.com/Ruhil-DS/QuantifiedSelfApp-FLASK/main/static/images/logo.svg" style="width: 90px; height: 90px">
</h4>

</body>
</html>